section {
/*    display: grid;
    grid-template-columns: 1fr 1fr;*/
    display: flex;
    padding: 10px;
    background-color: turquoise;
}

article {
    padding: 0 10px;
    margin: 4px;
    background-color: greenyellow;
}

body {
    background-color: turquoise;
    font-family: Verdana, sans-serif;
}

footer {
    background-color: greenyellow;
    padding: 10px;
}

a {
    color: green;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}